In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/kaggle/input/unlock-profits-with-e-commerce-sales-data/Amazon Sale Report.csv')
print("Shape of df :",df.shape)
df.head()

In [ ]:
unique_values_all_columns = df.nunique()
print(unique_values_all_columns)

In [ ]:
df.info()

In [ ]:
df.isna().sum()

In [ ]:
df = df[['index', 'Category','Date','ship-state','Amount']]
df.head()

In [ ]:
df.isna().sum()

In [ ]:
df = df.dropna()

In [ ]:
df['ship-state'] = df['ship-state'].replace('Puducherry', 'GUJARAT')
df['ship-state'] = df['ship-state'].replace('Goa', 'GOA')
df['ship-state'] = df['ship-state'].replace('Delhi', 'DELHI')
df['ship-state'] = df['ship-state'].replace('Punjab', 'PUNJAB')
df['ship-state'] = df['ship-state'].replace('Rajshthan', 'RAJASTHAN')
df['ship-state'] = df['ship-state'].replace('Manipur', 'MANIPUR')
df['ship-state'] = df['ship-state'].replace('rajasthan', 'RAJASTHAN')
df['ship-state'] = df['ship-state'].replace('Odisha', 'ODISHA')
df['ship-state'] = df['ship-state'].replace('NL', 'NAGALAND')
df['ship-state'] = df['ship-state'].replace('Bihar', 'BIHAR')
df['ship-state'] = df['ship-state'].replace('punjab', 'PUNJAB')
df['ship-state'] = df['ship-state'].replace('New Delhi', 'DELHI')
df['ship-state'] = df['ship-state'].replace('Rajasthan', 'RAJASTHAN')
df['ship-state'] = df['ship-state'].replace('Puducherry', 'PUDUCHERRY')
df['ship-state'] = df['ship-state'].replace('delhi', 'DELHI')
df['ship-state'] = df['ship-state'].replace('RJ', 'RAJASTHAN')
df['ship-state'] = df['ship-state'].replace('Chandigarh', 'CHANDIGARH')
df['ship-state'] = df['ship-state'].replace('orissa', 'ODISHA')
df['ship-state'] = df['ship-state'].replace('goa', 'GOA')
df['ship-state'] = df['ship-state'].replace('PB', 'PUNJAB')
df['ship-state'] = df['ship-state'].replace('Arunachal Pradesh', 'ARUNACHAL PRADESH')
df['ship-state'] = df['ship-state'].replace('AR', 'ARUNACHAL PRADESH')
df['ship-state'] = df['ship-state'].replace('Pondicherry', 'PUDUCHERRY')
df['ship-state'] = df['ship-state'].replace('Sikkim', 'SIKKIM')
df['ship-state'] = df['ship-state'].replace('Arunachal pradesh', 'ARUNACHAL PRADESH')
df['ship-state'] = df['ship-state'].replace('Nagaland', 'NAGALAND')
df['ship-state'] = df['ship-state'].replace('bihar', 'BIHAR')
df['ship-state'] = df['ship-state'].replace('Mizoram', 'MIZORAM')
df['ship-state'] = df['ship-state'].replace('rajsthan', 'RAJASTHAN')
df['ship-state'] = df['ship-state'].replace('Orissa', 'ODISHA')
df['ship-state'] = df['ship-state'].replace('Rajsthan', 'RAJASTHAN')
df['ship-state'] = df['ship-state'].replace('Meghalaya', 'MEGHALAYA')

In [ ]:
unique_values = df['ship-state'].unique()

# Print unique values
print(unique_values)

In [ ]:
df.describe()

In [ ]:
category_count = df.groupby('Category').size()
category_sum = df.groupby('Category')['Amount'].sum()

# Creating the figure and subplots
plt.figure(figsize=(20, 10))

# Plotting the first bar chart for count of each category
plt.subplot(1, 2, 1)  # 1 row, 2 columns, 1st subplot
bars = category_count.plot(kind='bar', color='skyblue')
plt.title('Count of Each Category')
plt.xlabel('Category')
plt.ylabel('Count')
plt.xticks(rotation=0)
plt.grid(axis='y', linestyle='--', alpha=0.7)

# Adding value labels on top of each bar
for bar in bars.patches:
    plt.text(bar.get_x() + bar.get_width() / 2, bar.get_height(),
             round(bar.get_height(), 2), ha='center', va='bottom')

# Plotting the second bar chart for sum of amount in each category
plt.subplot(1, 2, 2)  # 1 row, 2 columns, 2nd subplot
bars = category_sum.plot(kind='bar', color='skyblue')
plt.title('Amount for Each Category')
plt.xlabel('Category')
plt.ylabel('Sum of Amount')
plt.xticks(rotation=0)
plt.grid(axis='y', linestyle='--', alpha=0.7)

# Adding value labels on top of each bar
for bar in bars.patches:
    plt.text(bar.get_x() + bar.get_width() / 2, bar.get_height(),
             round(bar.get_height(), 2), ha='center', va='bottom')

# Adjust the layout to prevent overlapping
plt.tight_layout()

# Display the plots
plt.show()

**Total Sale for each Category**
The number of sale for kurta and set is al

In [ ]:
plt.figure(figsize=(20, 10))

# Plotting the pie chart for count of each category
plt.subplot(1, 2, 1)  # 1 row, 2 columns, 1st subplot
category_count.plot(kind='pie', autopct='%1.1f%%', colors=plt.cm.Paired.colors, startangle=140)
plt.title('Count of Each Category')
plt.ylabel('')  # Remove the 'Category' label

# Plotting the pie chart for sum of amount in each category
plt.subplot(1, 2, 2)  # 1 row, 2 columns, 2nd subplot
category_sum.plot(kind='pie', autopct='%1.1f%%', colors=plt.cm.Paired.colors, startangle=140)
plt.title('Amount for Each Category')
plt.ylabel('')  # Remove the 'Category' label

# Adjust the layout to prevent overlapping
plt.tight_layout()

# Display the plots
plt.show()

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' to datetime format

# Group by month and 'Category' and count the occurrences of each category
category_count = df.groupby([df['Date'].dt.to_period('M'), 'Category']).size().unstack().fillna(0)

# Plotting side-by-side bars for counts
plt.figure(figsize=(12, 8))
category_count.plot(kind='bar', width=0.8, colormap='tab20', figsize=(12, 8))

plt.title('Count of Each Category by Month')
plt.xlabel('Month')
plt.ylabel('Count of Categories')
plt.xticks(rotation=45)
plt.legend(title='Category')
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

In [ ]:

# Grouping by Date and Category and counting the occurrences
category_count = df.groupby(['Date', 'Category']).size().reset_index(name='Count')

# Plotting
plt.figure(figsize=(12, 8))
categories = category_count['Category'].unique()
colors = plt.cm.tab20(range(len(categories)))

for category, color in zip(categories, colors):
    subset = category_count[category_count['Category'] == category]
    plt.scatter(subset['Date'], subset['Count'], color=color, label=category, s=100)

plt.title('Count by Date and Category')
plt.xlabel('Date')
plt.ylabel('Count')
plt.legend(title='Category')
plt.grid(True)
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
city_count = df.groupby('ship-state').size()

# Sort the series in descending order
city_count_sorted = city_count.sort_values(ascending=True)

# Plotting Horizontal Bar Chart
plt.figure(figsize=(20, 30))
ax = city_count_sorted.plot(kind='barh', color='skyblue', width=1)

# Add values on the bars
for index, value in enumerate(city_count_sorted):
    ax.text(value, index, f'{value:,}', va='center', ha='left', fontsize=12)

plt.title('Count of Entries by Ship-State')
plt.xlabel('Count')
plt.ylabel('Ship-State')
plt.grid(axis='x', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

# Group by 'ship-state' and count occurrences
city_count = df.groupby('ship-state').size()

# Calculate the mean count
mean_count = city_count.mean()

# Filter to show only ship-states with counts above the mean
above_mean = city_count[city_count > mean_count]

# Aggregate counts below the mean into "Others"
below_mean = city_count[city_count <= mean_count]
below_mean_sum = below_mean.sum()

# Create a new Series for "Others"
others = pd.Series({'Others': below_mean_sum})

# Combine the above_mean and others into one Series
combined = pd.concat([above_mean, others])

# Plotting Pie Chart
plt.figure(figsize=(16, 16))
colors = plt.cm.Paired(np.linspace(0, 1, len(combined)))
ax = combined.plot(kind='pie', autopct='%1.1f%%', colors=colors, figsize=(12, 12))

# Annotate the mean value on the pie chart
plt.title(f'Proportion of Total Count by Ship-State (Above Mean)\nMean Count: {mean_count:.2f}')
plt.ylabel('')  # Hide the y-label

# Adjust legend position
plt.legend(loc='upper left', bbox_to_anchor=(1, 1), title='Ship-State')

plt.tight_layout()
plt.show()

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

# Group by Date and ship-state and count occurrences
state_count = df.groupby(['Date', 'ship-state']).size().reset_index(name='Count')

# Calculate the total count for each ship-state
total_state_count = df.groupby('ship-state').size()

# Calculate the mean count
mean_count = total_state_count.mean()

# Filter to show only ship-states with total counts above the mean
above_mean_states = total_state_count[total_state_count > mean_count].index
filtered_state_count = state_count[state_count['ship-state'].isin(above_mean_states)]

# Plotting
plt.figure(figsize=(12, 8))
states = filtered_state_count['ship-state'].unique()
colors = plt.cm.tab20(range(len(states)))

for state, color in zip(states, colors):
    subset = filtered_state_count[filtered_state_count['ship-state'] == state]
    plt.plot(subset['Date'], subset['Count'], color=color, label=state, marker='o')

plt.title('Count by Date and Ship-State (Above Mean)')
plt.xlabel('Date')
plt.ylabel('Count')
plt.legend(title='Ship-State')
plt.grid(True)
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()